<% wrap_layout :inner do %>
    <% content_for :sidebar do %>
      <div class="docs-sidebar hidden-print affix-top" role="complementary">
        <ul class="nav docs-sidenav">
          <li<%= sidebar_current("docs-home") %>>
            <a href="/docs/providers/index.html">All Providers</a>
          </li>
  
          <li<%= sidebar_current("docs-xenserver-index") %>>
            <a href="/docs/providers/xenserver/index.html">XenServer Provider</a>
          </li>
  
          <li<%= sidebar_current("docs-xenserver-resource") %>>
            <a href="#">Resources</a>
            <ul class="nav nav-visible">
              <li<%= sidebar_current("docs-xenserver-resource-network") %>>
                <a href="/docs/providers/xenserver/r/network.html">xenserver_network</a>
              </li>
              <li<%= sidebar_current("docs-xenserver-resource-sr") %>>
                <a href="/docs/providers/xenserver/r/sr.html">xenserver_sr</a>
              </li>
              <li<%= sidebar_current("docs-xenserver-resource-vbd") %>>
                <a href="/docs/providers/xenserver/r/vbd.html">xenserver_vbd</a>
              </li>
              <li<%= sidebar_current("docs-xenserver-resource-vdi") %>>
                <a href="/docs/providers/xenserver/r/vdi.html">xenserver_vdi</a>
              </li>
              <li<%= sidebar_current("docs-xenserver-resource-vif") %>>
                <a href="/docs/providers/xenserver/r/vif.html">xenserver_vif</a>
              </li>
              <li<%= sidebar_current("docs-xenserver-resource-vlan") %>>
                <a href="/docs/providers/xenserver/r/vlan.html">xenserver_vlan</a>
              </li>
              <li<%= sidebar_current("docs-xenserver-resource-vm") %>>
                <a href="/docs/providers/xenserver/r/vm.html">xenserver_vm</a>
              </li>
            </ul>
          </li>
        </ul>
      </div>
    <% end %>
  
    <%= yield %>
  <% end %>